<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
</head>

<div class="grid-container">
	<link rel="stylesheet" href="{{ url_for('static', filename='completebplan1.css') }}">
  <div class="Index">
    <div class="Index-Content">INDEX
    <ul>
      <li>SECTION I</li>
      <li>SECTION II</li>
      <li>SECTION III</li>
      <li>SECTION IV</li>
      <li>SECTION V</li>
      <li>SECTION VI</li>
      </div>
  </div>
  <div class="Logo">LOGO</div>
  <div class="Header">HEADER
    <div class="Login">LOGIN</div>
    <div class="About">ABOUT</div>
    <div class="Contact">CONTACT</div>
    <div class="Help">HELP</div>
  </div>
  <div class="Footer">
    <div class="Footer-Content">FOOTER</div>
  </div>
  <div class="Border">BORDER</div>
  <div class="Content">
    <div class="Content-Display">CONTENT</div>
  </div>
</div>
