<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>COMPLETEBPLAN.COM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='completebplan1.css') }}">

</head>

<body>
  <div class="Logo">LOGO</div>
  <div class="Header">HEADER
    <div class="Login">LOGIN</div>
    <div class="About">ABOUT</div>
    <div class="Contact">CONTACT</div>
    <div class="Help">HELP</div>
  </div>


	{% block body %}
		
	{% endblock %}
	
  <div class="Footer">
    <div class="Footer-Content">FOOTER</div>
  </div>
  <div class="Border">BORDER</div>
</div>
</body>
</html>
